.pdf-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  page-break-inside: avoid;
}

@media print {
  .pdf-center {
    height: 100%;
    width: 100%;
  }

  .pdf-break {
    page-break-after: always;
  }
}